.post {
	width: 33%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 15px;
}

.post h2 {
	margin-bottom: 0;
}

.post img {
	width: 200px;
	height: 160px;
	border-radius: 5px;
}

.post p {
	text-align: left;
}

.post a {
	text-decoration: underline;
	color: crimson;
	font-weight: 700;
}

.post button svg {
	width: 20px;
	height: 20px;
}
