version: '2.1'

services:

  frontend:
    container_name: frontend
    image: frontend
    build: ./frontend
    depends_on:
      - dev-db
      - backend
    ports:
      - 80:80
    restart: on-failure
    networks:
      - transcendence
    env_file:
      - ./config/.env

  backend:
    container_name: backend
    image: backend
    build: ./backend
    depends_on:
      - dev-db
    ports:
      - 6969:6969
    restart: on-failure
    networks:
      - transcendence
    env_file:
      - ./config/.env

  dev-db:
    container_name: dev-db
    image: postgres:13
    restart: on-failure
    env_file:
      - ./config/.env
    networks:
      - transcendence
    expose:
      - 5432

networks:
  transcendence:
    name: transcendence
    driver: bridge