.chat {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.chatItems {
    grid-row: 1 / 7;
    grid-column: 1 / 3;
    background-color: #6daba9;

}

.chatItems img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.messages {
    grid-row: 1 / 6;
    grid-column: 3 / 7;
    padding: 10px;
}

.textarea {
    grid-row: 6 / 7;
    grid-column: 3 / 5;
}

.button {
    grid-row: 6 / 7;
    grid-column: 5 / 7;
}

.active {
    color: gold;
}

