.sidebarBottom {
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
}

.sidebarBottom button {
	display: flex;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #a0a6ab;
}
/*
.nav a {
	padding: 5px 5px 8px 10px;
	text-align: left;
	display: flex;
	width: 100%;
	border-bottom: 1px solid #a0a6ab;
	align-items: center;
} */

.sidebarBottom swg {
	margin-right: 10px;
}

