.sidebar {
	width: 250px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #378b88;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.sidebarTop {
	background-color: transparent;
}