.profile {
    display: grid;
    grid-template-columns: 0fr 0fr;
    align-items: center;
    padding: 20px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50px;
    justify-self: self-end;
}

.name {
    justify-self: self-start;
    text-align: center;
    padding: 10px;
}
