.chatOnlineParticipants {
	align-items: center;
	font-weight: 500;
	cursor: pointer;
	margin-top: 10px;
	display: flex;
	position: static;
  }
  
  .chatParticipantsImgContainer {
	position: relative;
	margin-right: 10px;
  }
  
  .chatParticipantsImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	border: 1px solid white;
  }

  .dropDown{
	flex-grow: 1;
  }

  .gearButton{
	width: auto;
	position: relative;
  }
  
  /* .chatParticipantsBadge {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: limegreen;
	position: absolute;
	top: 2px;
	right: 2px;
  } */